# --- Extensiones de Business Central ---
.alpackages/
.snapshots/
.rad/
*.app

# --- Configuración de entorno ---
.vscode/

# --- Otros archivos temporales ---
*.zip
*.rar

# --- Traducciones ---
Translations/

# --- Word ---
*.doc
*.docx
*.dot
*.dotx
*.docm

# --- Excel ---
*.xls
*.xlsx
*.xlsm

# --- Compressed files ---
*.zip
*.rar
*.7z